.homeSection{

    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: white;
}
header{
    display: flex;
    align-items: center;
}
header h2{
    font-size: 2.2rem;
    margin: 0;
    margin-right: 40px;
}
header h4{
    margin: 0;
    font-size: 1.8rem;
}

.listContainer{
    margin-top: 20px;
}
.listContainer li{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgb(177, 175, 175);
    padding: 10px 20px;
}
.listContainer li div{
    display: flex;
    align-items: center;
}
.listContainer .top div{
    margin-left: 4px;
    width: 350px;
    font-size: .85rem;
}
.listContainer .bottom{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    padding-left: 20px;
}
.bottom .icon{
    display: flex;
    margin-right: 20px;
}
.bottom .icon p{
    font-size: .7rem;
    margin: 0;
    margin-left: 5px;
}
.number{
    background: rgb(235, 235, 235);
    padding: 2px 6px;
    font-size: .7rem;
}
.redSquare{
    color: rgb(255, 94, 25);
}