@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap');

body{
  margin: 0;
  padding: 0px;
  background: rgb(249, 249, 255);
  font-family: "Montserrat", sans-serif;
}
